<h1>Editing project_todo_comment</h1>

<%= render 'form' %>

<%= link_to 'Show', project_project_todo_project_todo_comment_path(@project, @project_todo, @project_todo_comment) %> |
<%= link_to 'Back', project_project_todo_project_todo_comments_path(@project, @project_todo) %>
